/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 2rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 31; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  /* --first-color: hsl(var(--hue-color), 61%, 61%); */
  --first-color: hsl(var(--hue-color), 89%, 50.2%);
  --first-color-second: hsl(var(--hue-color), 61%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-color: hsl(var(--hue-color), 12%, 99%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.928rem;
  --small-font-size: 0.8125rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margines Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  /* HSL color mode  */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}
/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*==================== REUSABLE CSS CLASSES ====================*/

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}
/*==================== LAYOUT ====================*/
.container {
  max-width: 786px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/*==================== NAV ====================*/

.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__logo:hover,
.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 48em) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0, 1, 1, 1);
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link > i {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  transform: translateY(0%);
}

/* Active link */

.active-link {
  color: var(--first-color);
}
/* Change background header */

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;

  gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
  overflow: hidden;
}

.home__img {
  position: relative;
}

.home__blob-img {
  /* width: 170px; */
  width: 100%;
  /* top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* position: absolute; */
}

.home__data {
  grid-column: 1/3;
  /* text-align: center; */
}

.home__data > h1 {
  font-size: var(--big-font-size);
}

.home__data > h3 {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.home__data > p {
  margin-bottom: var(--mb-2);
  line-height: 1.75;
}

.home__scroll {
  display: none;
}

.home__scroll-btn {
  color: var(--first-color);
  transition: transform 0.3s;
}
.home__scroll-btn:hover {
  transform: translateY(0.25rem);
}

.mouse {
  font-size: 2rem;
}

.home__scroll-btn span {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.down-arrow {
  font-size: 1.25rem;
}
/*==================== BUTTONS ====================*/

.btn {
  display: inline-block;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--first-color);
}

.btn:hover {
  background-color: var(--first-color-alt);
}

.btn > i {
  font-size: 1.25rem;
  transition: 0.3s;
  margin-left: var(--mb-0-5);
}

.btn--flex {
  display: inline-flex;
  align-items: center;
}

.btn--small {
  padding: 0.75rem 1rem;
}

.btn--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.btn--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}
/*==================== ABOUT ====================*/
.about__img {
  width: 200px;
  border-radius: 2rem;
  justify-self: center;
  align-self: center;
}

.about__desc {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info .title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.about__info .name {
  font-size: var(--smaller-font-size);
}

.about__info .name,
.about__info .title {
  display: block;
  text-align: center;
}

.about__btn {
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;

  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__header > i:first-child {
  margin-right: var(--mb-0-75);
}
.skills__header > i:last-child {
  margin-left: auto;
  transition: 0.2s;
}
.skills__title {
  font-size: var(--h3-font-size);
}

.skills__data {
  margin-left: var(--mb-3);
  margin-bottom: var(--mb-1-5);
}

.skills__title {
  display: flex;
  justify-content: space-between;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}
.skills__percentage {
  display: block;
  background-color: var(--first-color);
  transition: animate 0.3s ease-in;
}

.skill__react {
  width: 80%;
}

.skill__js {
  width: 90%;
}
.skill__html {
  width: 80%;
}
.skill__css {
  width: 70%;
}
.skill__nodejs {
  width: 75%;
}
.skill__firebase {
  width: 70%;
}
.skill__python {
  width: 60%;
}

/* .skills__list {
  margin-bottom: var(--mb-2);
} */

/* .skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
} */

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.skills__open .skills__list {
  height: max-content;
  overflow: hidden;
}

.skills__open .skills__header > i:last-child {
  transform: rotate(-180deg);
}
@keyframes animate {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
/*==================== QUALIFICATION ====================*/
.qual__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qual__btn {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qual__btn:hover {
  color: var(--first-color);
}

.qual__icon {
  font-size: 1.2rem;
  margin-right: var(--mb-0-5);
}

.qual__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

/* .block {
  padding: var(--mb-0-75) 0;
  padding-left: var(--mb-0-75);
  border-radius: 1rem;
  background-color: var(--first-color);
  position: relative;
  color: #fff;
} */
/* .qual__title {
  color: #fff;
} */

.qual__reveal {
  display: none;
}

@media screen and (min-width: 450px) {
  .block {
    padding: var(--mb-1);
  }

  .qual__title {
    font-size: 1rem;
  }
}

/* .block:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 10vw;
  top: 10px;
  right: ;
  transform: rotate(90deg);
  z-index: -1;
  background-color: var(--first-color);
} */
.qual__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  /* color: var(--first-color-alt); */
}

.qual__calender {
  font-size: var(--small-font-size);
  /* color: var(--first-color-lighter); */
}

.rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

/*==================== SERVICES ====================*/

.service__container {
  gap: 1.2rem;
  grid-template-columns: repeat(2, 1fr);
}

.service__content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.15);
  transition: 0.3s;
}
.service__content:hover {
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.15);
}

.service__icon {
  display: block;
  font-size: 1.5rem;

  color: var(--first-color);

  margin-bottom: var(--mb-1);
}

.service__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.service__btn {
  cursor: pointer;

  font-size: var(--small-font-size);
}

.service__btn:hover span {
  transform: translateX(0.25rem);
}

.service__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.service__modal > div {
  position: relative;
  background: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.service__modal ul {
  row-gap: 1rem;
}
.service__modal ul li {
  display: flex;
}
.service__modal ul li i {
  color: var(--first-color);
  margin-right: var(--mb-0-5);
}

.service__modal .title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  color: var(--first-color);
  cursor: pointer;
}
/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}
/*==================== PORTFOLIO ====================*/

/* .pf__container {
  overflow: initial;
} */

.pf__content {
  padding: 0 1rem;
  /* // For moving pagination dots little bottom  */
  margin-bottom: 3rem;
}

.pf__img {
  width: 256px;
  border-radius: 0.5rem;
  justify-self: center;
}

.pf__data {
  padding-left: var(--mb-0-75);
}

.pf__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.pf__description {
  margin-bottom: var(--mb-1-5);
}

.pf__btn:hover .btn__icon {
  transform: translateX(0.25rem);
}

.swiper {
  /* max-width: 600px; */
  /* height: 300px;  */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.sw__pf-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -0.5rem;
}
.swiper-button-next {
  right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet {
  background: var(--first-color-lighter);
}

/*==================== CONTACT ME ====================*/
.cta__container {
  row-gap: 3rem;
}

.cta__info {
  display: flex;
  margin-bottom: var(--mb-2);
}

.cta__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.cta__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.cta__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.cta__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.cta__label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.cta__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.cta__btn button {
  border: none;
  outline: none;
}

/*==================== FOOTER ====================*/
.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  /* background-color: var(--first-color-second); */
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: 1.75rem;
  /* margin-bottom: var(--mb-0-25); */
}

.footer__subtitle {
  font-size: var(--h3-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link {
  font-size: 1rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.75rem;
  margin-right: var(--mb-1-5);
}
.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--h4-font-size);
  text-align: center;
  margin-top: var(--mb-3);
  color: rgb(207, 207, 207);
  color: #fff;
}
.footer__copy i {
  font-size: 1rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}
/*========== SCROLL UP ==========*/
.scrollTop {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transform: translateY(300%);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scrollTop:hover {
  background-color: var(--first-color-alt);
}

.scrollTop .icon {
  font-size: 2rem;
  color: #fff;
}
/* Show scroll */
.show-scroll {
  transform: translateY(0);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .scrollTop {
    right: 3rem;
  }
  .container {
    margin-right: var(--mb-1);
    margin-left: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qual__data {
    gap: 0.5rem;
  }

  .service__container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .service__content {
    padding-right: 3.5rem;
  }

  .service__modal {
    padding: 0 0.5rem;
  }
}

/* For medium devices (tablet ) */

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  .about-container,
  .skills__container,
  .pf__content,
  .cta__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qual__sections {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
}

/* laptop  */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    margin: 3rem 0 2rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .header {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__container {
    row-gap: 5rem;
    column-gap: 2rem;
    align-items: center;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 2.2rem;
  }

  .home__blob {
    width: 270px;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-btn {
    margin-left: 3rem;
  }

  .about-container {
    column-gap: 5rem;
  }

  .about__img {
    width: 350px;
  }

  .about__desc {
    text-align: initial;
  }

  .about__info {
    justify-content: space-between;
  }

  .about__btn {
    justify-content: initial;
  }

  .qual__tabs {
    justify-content: center;
  }

  .qual__btn {
    margin: 0 var(--mb-1);
  }

  .qual__sections {
    grid-template-columns: 1fr;
  }

  .qual__reveal {
    display: block;
  }

  .service__container {
    grid-template-columns: repeat(2, 218px);
    justify-content: center;
  }

  .service__icon {
    font-size: 2rem;
  }

  .service__content {
    padding: 6rem 0 2rem 2.5rem;
  }

  .service__modal > div {
    width: 480px;
  }

  .pf__img {
    width: 320px;
  }

  .pf__content {
    align-items: center;
    gap: 0;
  }

  .footer__container {
    grid-template-columns: 1fr 1fr 0.5fr;
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__blob {
    width: 320px;
  }

  .home__social-icon {
    font-size: 2rem;
  }
  .home__social {
    transform: translateX(-6rem);
  }

  .service__container {
    grid-template-columns: repeat(2, 359px);
  }

  .service__content {
    padding: 9rem 0 2rem 2.5rem;
  }

  .sw__pf-icon {
    font-size: 3.5rem;
  }

  .swiper-button-next {
    right: -0.3rem;
  }
  .swiper-button-prev {
    left: -0.3rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }

  .qual__title {
    font-size: 1.25rem;
  }

  .cta__form {
    width: 460px;
  }

  .cta__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
